<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <link rel="stylesheet" href="/estiloDaListagem.css" />
    <meta charset="UTF-8">
    <title>Lista De Secretárias</title>
</head>

<body th:replace="~{doutor/basedoutor::layout(~{::section})}">
<section>
    <h1 class="text-center">Lista De Secretárias</h1>

    <div class="row">
        <div class="col">
            <form action="/doutores/secretaria/pesquisar" method="get">
                <div class="input-group">
                    <input type="text" id="barraDePesquisa" name="name" class="form-control" placeholder="Pesquisar por Nome" />
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">Pesquisar</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col">
            <a th:href="@{/doutores/secretaria/novasecretaria}" class="btn btn-primary">NOVO</a>
        </div>
    </div>

    <br><br>

    <table id="tabelaSecretaria">
        <tr>
            <th>NOME</th>
            <th>E-MAIL</th>
            <th>OPÇÕES</th>
        </tr>

        <tr th:each="secretaria : ${listarSecretaria}">
            <td class="nome-secretaria" th:text="${secretaria.name}"></td>
            <td th:text="${secretaria.email}"></td>
            <td>
                <a th:href="@{/doutores/secretaria/{id}/alterarsecretaria(id=${secretaria.id})}" class="btn btn-primary">Editar</a>
                <a onclick="return confirm('Quer excluir está Secretária ?')" th:href="@{/doutores/secretaria/{id}(id=${secretaria.id})}" class="btn btn-danger">Excluir</a>

            </td>
        </tr>
    </table>
</section>
<script src="/pesquisarSecretaria.js"></script>
</body>

</html>
