<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <link rel="stylesheet" href="/estiloDoCadastro.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>


  <meta charset="UTF-8">
  <title>Cadastrar Secretária</title>
</head>

<body th:replace="~{doutor/basedoutor::layout(~{::section})}">
<section>
  <h1>Cadastrar Secretária</h1>

  <form th:action="@{/doutores/secretaria/novasecretaria}" method="post" th:object="${secretaria}">

    <label>Nome:</label>
    <input type="text" name="name" required /><br>

    <label>E-Mail:</label>
    <input type="text" name="email" required /><br>
    <p th:if="${session.mensagem != null}" th:text="${session.mensagem}" style="color: red;"></p>

    <label>Senha:</label>
    <input type="password" name="password" required /><br>

    <button onclick="return confirm('Quer cadastrar está Secretária ?')" type="submit">Cadastrar</button>

    <button type="button" onclick="window.location.href='/doutores/secretaria/'">Voltar</button>

  </form>
</section>
</body>

</html>
