<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Clinic Time</title>
</head>
<body>
<section>
    <h1 class="text-center">Clinic Time</h1>
    <p class="text-center">O Clinic Time é um Sistema de Cadastro de Pacientes automatizado que visa simplificar o processo de registro e
        gerenciamento de pacientes em consultórios médicos. Através deste programa, as secretárias terão acesso a um
        painel de controle para cadastrar novos pacientes e gerenciar informações relevantes. Com isso, será possível
        obter uma melhor organização dos registros, facilitar o acesso aos dados e evitar duplicações, proporcionando
        mais eficiência e praticidade no atendimento aos pacientes.</p>
</section>
</body>
</html>