<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<section>
    <div class="container p-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header text-center fs-4">Login</div>

                    <div th:if="${param.error}" class="alert alert-danger">
                        E-mail ou Senha Inválidos.
                    </div>

                    <div class="card-body">
                        <form action="/login" method="post">
                            <div class="mb-3">
                                <label>Digite o E-mail</label>
                                <input type="text" name="username" class="form-control">
                            </div>

                            <div class="mb-3">
                                <label>Digite a Senha</label>
                                <input type="password" name="password" class="form-control">
                            </div>

                            <button class="btn btn-primary col-md-12">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container mt-3">
        <div class="text-center">
            <p>Se você é uma secretária, <a href="/register">cadastre-se aqui</a>.</p>
        </div>
    </div>
</section>

</body>
</html>
